body {
  background-image: linear-gradient(#1A1A1C, #38354F);
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
}

/* NAV BAR */

  #nav-bar {
    width: 100vw;
    height: 3vh;
    background-color: rgb(26, 24, 30);
    opacity: .9;
    color: #beadcb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4vh 0;
    font-family: 'Amiko', sans-serif;
    font-weight: 800;
    font-size: 23px;
    position: fixed;
    top: 0;
    z-index: 1000;
  }

  #nav-buttons {
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 11vw;
  }

  #nav-buttons *:hover {
    color: #41304f;
    cursor: pointer;
  }

  #search-query {
    width: 20vw;
    display: flex;
    align-items: center;
    padding-right: 11vw;
  }

  .search-bar {
    width: 300px;
    height: 32px;
    background-color: #beadcb;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Akshar', sans-serif;
    text-align: center;
    margin-left: 10px;
    border: none;
    border-radius: 20px;
  }

  .search-bar:focus {
    background-color: #f1ebf1;
    outline: none;
  }

  input[type="text"] {
    padding-block: 0; 
    padding-inline: 0;
    font-family: 'Amiko', sans-serif;
    font-size: 15px;
    font-weight: 200;
  }

  input {
    padding: 0;
  }

  /* HOME */

  .home {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    font-family: 'Amiko', sans-serif;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);
    position: relative;
  }

  .word-container {
    position: relative;
    width: 80%;
    height: 60vh;
    margin-top: 225px;
  }

  .word {
    position: absolute;
  }

  .title {
    color: white;
    font-size: 45px;
    font-weight: 900;
    margin-left: 150px;
    margin-top: 150px;
  }

  .random-games {
    margin-top: 10rem;
  }

  .random-games-title {
    color: white;
    text-align: center;
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 50px;
  }

  .random-games-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: wrap;
    width: 60vw;
  }

  .game-card {
    width: 16vw;
    height: 40vh;
    padding: 1rem;
    margin: 5px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: flex-end;
    border: 4px rgb(121, 112, 127) solid;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-decoration: none;
  }

  .game-card:hover {
    border: 4px rgb(67, 40, 85) solid;
    background-color: rgb(255, 255, 255, .1);

  }

  .game-title {
    text-align: center;
    color: white;
    font-size: 17px;
    justify-self: flex-end;
    margin-top: 25px;
    margin-bottom: 0px;
  }

  .game-card img {
    height: 90%;
    width: 90%;
  }

  .game-card .image-container {
    flex-grow: 1;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .fade-out {
    animation: fadeOut 2s ease-in-out alternate infinite;
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0; /* Adjust opacity as needed */
    }
  }
