body {
  background-image: linear-gradient(#1A1A1C, #38354F);
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
}

/* NAV BAR */

  #nav-bar {
    width: 100%;
    background-color: rgb(26, 24, 30);
    opacity: .9;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4vh 0;
    margin-bottom: 4vh;
    font-family: 'Amiko', sans-serif;
    font-weight: 800;
    font-size: 23px;
    position: fixed;
    top: 0;
    z-index: 1000;
  }

  #nav-buttons *{
    padding-right: 30px;
  }

  #search-query {
    display: flex;
  }

  #search-query * {
    font-family: 'Akshar', sans-serif;
    text-align: center;
    height: 32px;
    margin: 0 10px;
  }

  .dropbtn, .dropdown-content {
    font-weight: 600;
    color: #6D6969;
    width: 200px;
    cursor: pointer;
    border: none;
  } 

  .dropbtn {
    border-radius: 5px;
    font-size: 20px;
  }

  .search-bar {
    width: 300px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    text-decoration: none;
  }

  input[type="text"] {
    padding-block: 0; 
    padding-inline: 0;
  }

  input {
    padding: 0;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #6D6969;
    width: 200px;
    z-index: 1;
  }

  .dropdown-content a {
    color: #ffffff;
    font-family: 'Amiko', sans-serif !important;
    font-size: 17px;
    font-weight: 500;
    display: block;
    padding-top: 7px;
    border-radius: 0;
  }

  .dropdown-content a:hover {
    background-color: white;
    color: #6D6969;
  }

  #dropdown-menu:hover .dropdown-content {
    display: block;
  }

  /* HOME */

  .home {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    font-family: 'Amiko', sans-serif;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);
    position: relative;
  }

  .word-container {
    position: relative;
    width: 80%;
    height: 60vh;
    margin-top: 225px;
  }

  .word {
    position: absolute;
  }

  .title {
    color: white;
    font-size: 45px;
    font-weight: 900;
    margin-left: 150px;
    margin-top: 150px;
  }

  .top-games {
    margin-top: 10rem;
    height: 85vh;
  }

  .top-games-title {
    color: white;
    font-weight: 800;
    font-size: 30px;
  }

  .fade-out {
    animation: fadeOut 4s ease-in-out alternate infinite;
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0; /* Adjust opacity as needed */
    }
  }
